{% extends "main-page.html" %}

{% block title %}Change Password{%endblock%}
{% block header %}Team 3958{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        {% if error %}
            <div class="alert alert-warning" role="alert">Invalid Input</div>
        {% endif %}
        <form action="." method="POST">
          <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
          </div>
          <button type="submit" class="btn btn-success">Confirm</button>
        </form>
    </div>
</div>
{% endblock %}