<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
        <title>{% block title %}{%endblock%}</title>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>

    <body>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('index') }}">{% block header %}{%endblock%}</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="">{{current_user.username}}</a></li>
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% if current_user.check_admin() %}
                        <li><a href="{{ url_for('admin') }}">Admin Controls</a></li>
                    {%endif%}
                {% else %}
                    <li><a href="{{ url_for('login') }}">Log in</a></li>
                    <li><a href='{{ url_for("register") }}'>Register</a></li>
                {% endif %}
            </ul>
          </div>
        </nav>


        <div class="container">
            {% block content %}{% endblock %}
        </div><!-- /.container -->
    </body>
</html>